In [1]:
import pandas as pd

In [2]:
file_path = 'Resources/purchase_data.csv'
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
##Display total number of players

total_players = purchase_data['SN'].nunique()
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [4]:
##Run basic calculations to obtain number of unique items, average price, etc.
##Create a summary data frame to hold the results
##Optional: give the displayed data cleaner formatting
##Display the summary data frame

unique_items = purchase_data['Item Name'].nunique()
average_price = round(purchase_data['Price'].mean(),2)
purchase_count = len(purchase_data['Purchase ID'])
total_revenue = round(purchase_data['Price'].sum(),2)
summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [purchase_count],
    "Total Revenue": [total_revenue]
})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [21]:
##Percentage and Count of Male Players
##Percentage and Count of Female Players
##Percentage and Count of Other / Non-Disclosed
male_players = purchase_data.loc[purchase_data["Gender"] == "Male", :]
female_players = purchase_data.loc[purchase_data["Gender"] == "Female", :]
other_players = purchase_data.loc[purchase_data["Gender"] == "Other/Non-Disclosed", :]

male_count = male_players["SN"].nunique()
female_count = female_players["SN"].nunique()
other_count = other_players["SN"].nunique()

percent_male = (male_count / total_players)*100
percent_female = (female_count / total_players)*100
percent_other = (other_count / total_players)*100 

percent_summary_df = pd.DataFrame({
    "": ["Male", "Female", "Other/Non-Disclosed"],
    "Total Count": [male_count, female_count, other_count],
    "Percentage of Players": [percent_male, percent_female, percent_other]
    
})
percent_summary_df['Percentage of Players'] = percent_summary_df['Percentage of Players'].map("{:,.2f}%".format)
percent_summary_df

                        Total Count Percentage of Players
0                 Male          484                84.03%
1               Female           81                14.06%
2  Other/Non-Disclosed            0                 0.00%

In [26]:
##Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
##Create a summary data frame to hold the results
##Optional: give the displayed data cleaner formatting
##Display the summary data frame

purchase_count_male = male_players['Item Name'].value_count()
purchase_count_female = female_players['Item Name'].value_count()
purchase_count_other = other_players['Item Name'].value_count()

male_purchase_price = 
female_purchase_price =
other_purchase_price =

male_purchase_value =
female_purchase_value =
other_purchase_value =

male_total_pp =
female_total_pp =
other_total_pp =

price_summary_df = pd.DataFrame({
    "": ["Male", "Female", "Other/Non-Disclosed"],
    "Purchase Count": [purchase_count_male, purchase_count_female, purchase_count_other],
    "Average Purchase Price": [male_purchase_price, female_purchase_price, other_purchase_price],
    "Total Purchase Value": [male_purchase_value, female_purchase_value, other_purchase_value],
    "Avg Total Purchase per Person": [male_total_pp, female_total_pp, other_total_pp]
})
price_summary_df